# Copy this file to .env and adjust URLs by environment
VITE_API_BASE_URL=
VITE_API_REALTIME_CONFIG=/mock-api/config/realtime.json

VITE_API_GAME_LOTTO_ACTIVO=/mock-api/games/lotto-activo.json
VITE_API_GAME_LOTTO_INTER=/mock-api/games/lotto-inter.json
VITE_API_GAME_MONJE_MILLONARIO=/mock-api/games/monje-millonario.json

VITE_API_PRODUCTS_LIST=/mock-api/products/list.json
VITE_API_PRODUCTS_CATALOG=/mock-api/products/catalog.json
VITE_API_PRODUCTS_PRICING=/mock-api/products/pricing.json
VITE_API_PRODUCTS_AVAILABILITY=/mock-api/products/availability.json
